.modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--lightgrey);
  color: var(--black);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal:target {
  display: flex;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;

  label {
    display: block;
    background-color: var(--orange);
  }
}

#close {
  background-color: var(--red);
  color: var(--white);
  text-decoration: none;
}
