/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");

/* Mobile First approach */

/* -------------------------------------------- */
/* Booting Up */
* {
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --darkblue: #011826;
  --orange: #ff9a16;
  --bluegreen: #2cc1aa;
  --red: #e7174a;
  --lightgrey: #f7fff2;
  --black: #000000;
  --white: #ffffff;
  --opensans: Open Sans;
  --raleway: Raleway, sans-serif;
}

body {
  background-color: var(--darkblue);
  color: var(--lightgrey);
  font-family: var(--opensans);
}

header,
main,
footer {
  padding: 16px;
}

h1,
h2 {
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 27px;
}

/* -------------------------------------------- */
/* Utilities */

.container-1440 {
  max-width: 1440px;
}

.container-1140 {
  max-width: 1140px;
}

.margin-auto {
  margin: auto;
}

.mb-24px {
  margin-bottom: 24px;
}

.mb-80px {
  margin-bottom: 80px;
}

.ml-40px {
  margin-left: 40px;
}

.positioning-1 {
  position: absolute;
  bottom: -30px;
  right: 20%;
}

.text-align-center {
  text-align: center;
}

.text-align-start {
  text-align: start;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

/* -------------------------------------------- */
/* Reusable Items */

.red-button {
}

.dark-blue-button {
  border: 1px solid var(--lightgrey);
  padding: 16px;
  display: block;
  width: fit-content;
  background-color: var(--darkblue);
  color: var(--white);
  text-decoration: none;
  transition: background-color 0.3s;
}

.dark-blue-button:hover {
  background-color: var(--red);
}

.open-contact-modal {
  background-color: var(--orange);
  color: var(--lightgrey);
  cursor: pointer;
  outline: none;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
}

.red-hero {
  height: 430px;
  background-color: var(--red);
  display: grid;
  align-items: center;
  text-align: center;
}

/* ///////////////////////////////////// */
/* /////// HEADER ////////////////////// */
/* ///////////////////////////////////// */

#index-page-header {
  display: flex;
  justify-content: space-between;
}

#index-page-header .header-nav {
  display: flex;
  align-items: center;
}

.menu-toggle {
  all: unset;
  background: none;
  border: none;
  outline: none;
  color: var(--lightgrey);
  padding: 0;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 16px;
}

@keyframes translateDialogXin {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes translateDialogXout {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#dialog-nav-links {
  height: 100vh;
  width: 70vw;
  background-color: var(--lightgrey);
  color: var(--darkblue);
  transform: translateX(-100%);
  animation: translateDialogXin ease-in-out 0.9s forwards;
}

#dialog-nav-links ul {
  all: unset;
}
#dialog-nav-links li {
  all: unset;
  color: var(--darkblue);
  background: none;
  margin: 8px;
  padding: 8px;
  border: 1px solid var(--darkblue);
  border-radius: 8px;
  cursor: pointer;
}

#index-page-header .header-nav #dialog-nav-links ul {
  display: flex;
  flex-direction: column;
}

#index-page-header .header-nav ul {
  display: none;
}

#index-page-header .logo-box {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
#index-page-header .logo-box img {
  width: 180px;
}
#index-page-header .logo-box span {
  color: var(--lightgrey);
}

/* Modal 1 */
#custom-modal-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
}

#custom-modal-1 .backdrop {
  position: absolute;
  /* inset: 0; */
  top: 5vh;
  left: 71vw;
  height: 60vh;
  width: 25vw;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
}

#custom-modal-1 .custom-modal-content {
  position: absolute;
  top: 5vh;
  left: 1vw;
  width: 20vw;
  background: white;
  padding: 16px;
  z-index: 2000;
}

#custom-modal-1 .custom-modal-content form {
  color: var(--black);
}

#custom-modal-1 .custom-modal-content form h2,
#custom-modal-1 .custom-modal-content form div {
  margin: 16px auto;
  width: 100%;
}

#custom-modal-1 .custom-modal-content input,
#custom-modal-1 .custom-modal-content label,
#custom-modal-1 .custom-modal-content textarea,
#custom-modal-1 .custom-modal-content button {
  width: 90%;
  margin: auto;
}

#custom-modal-1 .modal-close-button {
  position: absolute;
  top: 0.5vh;
  right: 1vw;
  font-size: 24px;
  color: var(--orange);
  cursor: pointer;
  z-index: 3000;
}

/* ///////////////////////////////////// */
/* /////// MAIN //////////////////////// */
/* ///////////////////////////////////// */

#index-page-main {
  padding: 10px;
}

#index-page-main #dwwm-section {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

#index-page-main #dwwm-section article {
  position: relative;
}

#index-page-main #dwwm-section article p {
  margin: 16px 0;
}

#index-page-main #dwwm-section img {
  margin: 50px auto;
  width: 90%;
}

#index-page-main #my-formation-section {
  margin-top: 10vh;
}

#index-page-main #my-formation-section .my-formation-container {
  display: flex;
  flex-direction: column;
  gap: 160px;
}

#index-page-main #my-formation-section .my-formation-container .grouping {
  display: flex;
  flex-direction: column;
}

#index-page-main #my-formation-section .my-formation-container .grouping img {
  margin: auto;
  width: 60%;
}

#index-page-main
  #my-formation-section
  .my-formation-container
  .grouping
  .text-box {
  background-color: var(--orange);
  padding: 40px 24px;
  position: relative;
}

#index-page-main
  #my-formation-section
  .my-formation-container
  .grouping
  .text-box
  p {
  margin-top: 16px;
}

#index-page-main #my-skills-section {
  margin-top: 10vh;
}

#index-page-main #my-skills-section .my-skills-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#index-page-main
  #my-skills-section
  .my-skills-container
  .my-skills-group
  details {
  margin: 16px;
}

#index-page-main
  #my-skills-section
  .my-skills-container
  .my-skills-group
  details
  summary {
  padding: 16px;
  background-color: var(--lightgrey);
  color: var(--orange);
  list-style: none;
}

#index-page-main
  #my-skills-section
  .my-skills-container
  .my-skills-group
  details
  summary
  p {
  padding: 8px;
  border-bottom: 2px solid var(--red);
}

#index-page-main
  #my-skills-section
  .my-skills-container
  .my-skills-group
  details
  ul {
  background-color: var(--lightgrey);
  color: var(--black);
  padding: 16px 40px;
}

#index-page-main
  #my-skills-section
  .my-skills-container
  .my-skills-group
  details
  ul
  li {
  list-style-type: circle;
  margin: 8px;
}

#index-page-main
  #my-skills-section
  .my-skills-container
  .my-skills-group
  details
  .frameworks
  > ul
  > li
  > ul
  > li {
  list-style-type: square;
}

#index-page-main #my-projects-section {
  margin-top: 10vh;
}

#index-page-main #my-projects-section .title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;
}

#index-page-main #my-projects-section #projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

#index-page-main #my-projects-section #projects-grid article {
  border: 1px solid var(--lightgrey);
  padding: 16px;
  position: relative;
}

#index-page-main #my-projects-section #projects-grid article span {
  position: absolute;
  top: 36px;
  left: 30px;
  padding: 8px;
  background-color: var(--darkblue);
  color: var(--white);
}

#index-page-main #my-projects-section #projects-grid article img {
  width: 100%;
  margin: 16px auto;
}

#index-page-main #my-projects-section #projects-grid article p {
  margin: 16px auto;
}

#index-page-main #my-projects-section #projects-grid-alt {
  display: none;
}

/* Modal 2 */
#custom-modal-2 {
  position: absolute;
  top: 30vh;
  left: 30vw;
  height: 10vh;
  width: 10vw;
  z-index: 9999;
}

#custom-modal-2 .backdrop {
  position: absolute;
  /* top: 5vh;
  left: 71vw; */
  height: 60vh;
  width: 25vw;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
}

#custom-modal-2 .custom-modal-content {
  position: absolute;
  top: 5vh;
  left: 1vw;
  width: 20vw;
  background: white;
  padding: 16px;
  z-index: 2000;
}

#custom-modal-2 .custom-modal-content form {
  color: var(--black);
}

#custom-modal-2 .custom-modal-content label {
  width: 100%;
  color: var(--black);
  background-color: var(--orange);
  display: block;
  padding: 8px;
  margin-bottom: 8px;
}

#custom-modal-2 .custom-modal-content form h2,
#custom-modal-2 .custom-modal-content form div {
  margin: 16px auto;
  width: 100%;
}

#custom-modal-2 .custom-modal-content input,
#custom-modal-2 .custom-modal-content label,
#custom-modal-2 .custom-modal-content textarea,
#custom-modal-2 .custom-modal-content button {
  width: 90%;
  margin: 8px auto;
}

#custom-modal-2 .custom-modal-content input,
#custom-modal-2 .custom-modal-content textarea {
  width: 96%;
}

#custom-modal-2 .modal-close-button {
  position: absolute;
  background-color: var(--orange);
  color: var(--orange);
  top: -5vh;
  right: 0;
  width: 50px;
  font-size: 24px;
  cursor: pointer;
  z-index: 3000;
  text-align: center;
}

#custom-modal-2 .modal-close-button:hover {
  color: var(--red);
}

/* ///////////////////////////////////// */
/* /////// FOOTER ////////////////////// */
/* ///////////////////////////////////// */
#index-page-footer {
  background-color: var(--bluegreen);
  text-align: center;
  margin-top: 50px;
}

/* /////////////////////////////////////////////// */
/* ////// RESPONSIVENESS //////////////////////// */
/* ////////////////////////////////////////////// */
/* ////// MOBILE FIRST APPROACH ///////////////// */
/* ////////////////////////////////////////////// */

/* 
  - Mobile First Approach selected
  - Format mobile : 320px et jusqu'à 767px
  - Format tablette : 768px et jusqu'à 1024px
  - Format ordinateur (desktop) : 1025 et +
*/

/* ///////////////////////////////////// */
/* Format tablette */
@media screen and (min-width: 768px) {
  /* Header */
  /* Section: John Doe - DWWM */
  #index-page-main #dwwm-section {
    flex-direction: row;
  }

  #index-page-main #dwwm-section article {
    padding: 3vw;
  }

  #index-page-main #dwwm-section img {
    margin: 50px auto;
    /* width: 60%; */
    object-fit: cover;
  }
  /* Section: Ma Formation */
  #index-page-main #my-formation-section .my-formation-container .grouping-1 {
    display: flex;
    flex-direction: row;
  }

  #index-page-main
    #my-formation-section
    .my-formation-container
    .grouping-1
    .text-box {
    width: 40%;
    padding: 40px;
  }

  #index-page-main #my-formation-section .my-formation-container .grouping-2 {
    display: flex;
    flex-direction: row-reverse;
  }

  #index-page-main
    #my-formation-section
    .my-formation-container
    .grouping-2
    .text-box {
    width: 40%;
    padding: 40px;
  }

  /* Section: Mes Competences */
  #index-page-main #my-skills-section > .my-skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #index-page-main
    #my-skills-section
    > .my-skills-container
    > .my-skills-group {
    width: 100%;
  }
  /* Section: Mes Projets */
  #index-page-main #my-projects-section #projects-grid {
    display: none;
  }

  #index-page-main #my-projects-section #projects-grid-alt {
    margin: 40px 8px;
    display: grid;
    grid-template-columns: 1fr;
  }

  #index-page-main #my-projects-section #projects-grid-alt .project-card {
    position: relative;
    margin: 8px;
    padding: 16px;
    border: 1px solid var(--lightgrey);
  }
  #index-page-main #my-projects-section #projects-grid-alt .project-card span {
    position: absolute;
    top: 36px;
    left: 30px;
    padding: 8px;
    background-color: var(--darkblue);
    color: var(--white);
  }

  #index-page-main #my-projects-section #projects-grid-alt .project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  #index-page-main #my-projects-section #projects-grid-alt {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  #index-page-main
    #my-projects-section
    #projects-grid-alt
    article
    .project-card {
    height: 47vh;
    overflow: hidden;
  }

  #index-page-main
    #my-projects-section
    #projects-grid-alt
    article
    .project-card
    h1 {
    margin: 40px 0;
  }

  #index-page-main
    #my-projects-section
    #projects-grid-alt
    > :nth-last-of-type(1) {
    grid-column: span 2;
  }

  /* Footer */
}

/* ///////////////////////////////////// */
/* Format Desktop */
@media screen and (min-width: 1024px) {
  /* Header */
  #index-page-header {
    max-width: 1440px;
    margin: auto;
  }

  .menu-toggle {
    display: none;
  }

  #index-page-header > .header-nav ul {
    display: flex;
    list-style-type: none;
  }
  #index-page-header > .header-nav ul li {
    list-style: none;
    margin-left: 24px;
  }
  #index-page-header > .header-nav ul li a {
    color: var(--orange);
    text-decoration: none;
    transition: color 0.3s ease-out;
  }

  #index-page-header > .header-nav ul li a.open-contact-modal {
    color: var(--lightgrey);
  }

  #index-page-header > .header-nav ul li a.active,
  #index-page-header > .header-nav ul li a:hover {
    color: var(--red);
  }
  /* Section: John Doe - DWWM */
  /* Section: Ma Formation */
  /* Section: Mes Competences */
  #index-page-main #my-skills-section {
    max-width: 1440px;
    margin: auto auto 80px auto;
  }
  /* Section: Mes Projets */
  #index-page-main #my-projects-section #projects-grid-section {
    max-width: 1440px;
    margin: auto;
  }

  #index-page-main #my-projects-section #projects-grid-alt {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #index-page-main
    #my-projects-section
    #projects-grid-alt
    > :nth-last-of-type(1) {
    grid-column: span 1;
  }
  /* Footer */
}
